body {
	margin:0px;
	font-family:Calibri;
	background-color:#e5e5e5;
}

.back_foot {
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:0;
	background-image:url(img/background_normal.png);
	background-size:cover;
	background-position: center bottom;
	opacity:0.8;
	width:100%;
	height:100%;
}

a {
	text-decoration:none;
}

img {
	max-width:100%;
}

._half {
	max-width:49%;
}
._tright {
	text-align:right;
}

._tcenter {
	text-align:center;
}

p,h1,h2,h3 {
	float:left;
	width:100%;
}

p {
	margin:0px;
	font-size:18px;
}

h1,h2,h3 {
	margin-bottom:0px;
}

iframe {
	float:left;
	margin-top:20px;
	width:100%;
	border:0px;
	height:500px;
}

table {
	float:left; 
	width:100%; 
	margin-top:0px; 
	border-collapse: collapse; 
	border-spacing:0px;
}

table tr td {
	padding:0px; 
	border:0px; 
	font-weight:lighter; 
	font-size:18px; 
	position:relative;
}

input, textarea, select {
	float:left; 
	margin-top:5px; 
	height:30px; 
	padding:5px 2% 5px 2%; 
	width:96%; 
	color:#555555; 
	border:1px solid rgba(0,0,0,0.2); 
	font-size:20px; 
	font-family:Calibri; 
	font-weight:lighter; 
	background-color:#ffffff;
}

input[type='submit'] {
	height:52px; 
	width:100%; 
	padding:0px;
	min-width:32px; 
	background-color:#4193ad; 
	color:#ffffff; 
	cursor:pointer; 
	border:0px;
}

input[type='submit']:hover {
	opacity:0.95;
}

._max {
	max-width:350px;
}

select {
	padding-right:0px; 
	width:100%; 
	height:42px;
}

textarea {
	padding-top:10px;
}

._none {
	display:none;
}
p.rights {
	margin-top:5px;
	font-size:14px;
}

._info {
	padding-top:5px;
	padding-bottom:25px;
	font-size:25px;
	font-weight:bold;
	color:#ff7231;
}

._color_blue {
	color:#4193ad;
}

.c {
	position:relative;
	margin:0px auto;
	width:100%;
	max-width:950px;
	height:100%;
}

header,nav,section,footer {
	float:left; 
	width:100%;
	position:relative;
	z-index:1;
}

header {
	padding-top:0px;
	height:500px;
	background-image:url(img/header.png);
	background-position:center center;
	background-size:cover;
}

header .c {
	z-index:2;
}

header img.logo {
	max-width:100%;
	margin-top:110px;
	margin-left:-50px;
}

header a.anker {
	position:absolute;
	top:0px;
}

header table tr td {
	height:400px;
	vertical-align: middle;
}

nav {
	padding-top:20px;
}

nav a {
	position:relative;
	float:left;
	margin-right:0px;
	padding:20px 30px 20px 30px;
	background-color:#ff7231;
	font-size:18px;
	box-shadow:5px 5px 2px rgba(0,0,0,0.05);
	color:#ffffff;
	z-index:99;
	
}

nav,section {
	background-color:#f0f0f0;
}

section {
	padding-top:40px;
	padding-bottom:60px;
}

section.footer {
	background:none;
	margin-bottom:200px;
	text-shadow: 0px 0px 20px rgba(255,255,255,0.7);
	z-index:0;
}

footer {
	position:fixed;
	padding-top:0px;
	padding-bottom:5px;
	bottom:0px;
	background-color:#131313;
	box-shadow:0px -5px 25px rgba(0,0,0,0.2);
	z-index:2;
}

footer h2 {
	margin-bottom:10px;
}

.block {
	position:absolute;
	top:0px;
	right:0px;
	padding-left:20px;
	padding-right:20px;
	height:45px;
	background-color:#ff7231;
}

.block a {
	float:left;
	color:#ffffff;
	padding:13px 10px 12px 10px;
}

footer h1,footer h2,footer h3,footer p {
	color:#f5f5f5;
}

ul {
	padding-left:25px;
}
	
ul li {
	margin-bottom:10px; 
	list-style-type: square;
}
	
fieldset {
	float:left;
	padding:0px;
	margin:0px;
	width:33%;
	border:0px;
}

.gala_frame {
	float:left;
	width:100%;
	margin-top:20px;
}

.show {
	float:left;
	margin: 0px 5px 5px 0px;
	width:24%;

	height:200px;
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.network {
	float:right;
	width:280px;
	z-index:2;
	top:525px;
	right:0px;
}

.network .button {
	float:right;
	width:50px;
	height:50px;
}

.network span {
	float:right;
	margin-right:20px;
	margin-top:16px;
}

.network .button:hover,nav a:hover {
	cursor:pointer;
	opacity:0.9;
}

.block a:hover {
	background-color:rgba(255,255,255,0.1);
}

nav a.focus {
	background-color:#ff8a54;
}

.mobil_open {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding-top:10px;
	padding-bottom:0px;
	text-align:center;
	background-color:#131313;
	display:none;
	z-index:2;
}

.full {
	float:left;
	width:100%;
}

.full img {
	float:left;
}

.full span {
	float:left;
	margin-top:12px;
	font-size:20px;
	color:#ff8a54;
}

.mobil_open p {
	margin:0px; 
	padding:0px;
	color:rgba(255,255,255,0.7);
	font-size:20px;

}

.mobil_open img {
	margin-top:-10px;
	float:none;
}

.mobil_open:hover {
	background-color:#202020;
	cursor:pointer;
}

/* Fullscreen*/
div.fullscreen {
	position:fixed; 
	top:0px; 
	left:0px; 
	width:100%; 
	height:100%; 
	background-color:rgba(0,0,0,0.8); 
	z-index:6; 
	display:none; 
}

div.fs_grafik {
	position:relative; 
	border:5px solid #ffffff; 
	width:98%; 
	height:98%; 
	margin:0px auto; 
	background-repeat:no-repeat; 
	background-position:center; 
	min-width:400px; 
	min-height:400px; 
	background-color:#ffffff;
}

div.out_fs {
	position: absolute; 
	top:0px; 
	right:0px; 
	font-size:27px; 
	background-color:#ffffff; 
	width:35px;
	z-index:8; 
	height:35px; 
	text-align:center; 
	border-left:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.1); 
	cursor:pointer;
}


div#fs_left {
	position:absolute; 
	left:0px; 
	top:0px; 
	height:100%; 
	width:40px; 
	z-index:7;
}

div#fs_right {
	position:absolute; 
	right:0px; 
	top:0px; 
	height:100%; 
	width:40px; 
	z-index:7;
}
	
div#fs_left a, div#fs_right a {
	position:relative; 
	top: 40%; 
	width:40px; 
	height:100%; 
	font-size:60px; 
	color:rgba(255,255,255,0.8); 
	text-shadow:0px 0px 1px rgba(0,0,0,0.5); 
	text-align:center;
}

div#fs_left a:hover, div#fs_right a:hover {
	cursor:pointer;
}

div#fs_left a {
	padding-left:20px;
}

div#fs_right a {
	padding-right:20px;
}

.show:hover {
	opacity:0.8;
	cursor: pointer;
}




@media (max-width: 1000px) {
	section,footer {
		width:96%;
		padding-left:2%;
		padding-right:2%;
	}
	
	header img {
		margin-left:0px;
	}
	
	section.footer {
		margin-bottom:60px;
	}
	
	footer {
		position:relative;
		z-index:3;
	}
	
	footer a.open {
		position:absolute;
		bottom:0px;
	}
	
	.mobil_open {
		display:block;
	}
	
	nav a {
		z-index:0;
	}
}

@media (max-width: 800px) {
	nav a {
		width:90%;
		margin-right:0px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding-left:5%;
		padding-right:5%;
	}
	
	header a.anker {
		top:auto;
		bottom:-100px;
	}
	
	header {
		background-position:left bottom;
	}
	
	fieldset {
		width:100%;
	}
	
	header img.logo {
		margin-top:100px;
		margin-left:0px;
	}
	
	footer {
		padding-bottom:60px;
	}
	
	footer ._tcenter, footer ._tright {
		text-align:left;
	}
	
	.network {
		position:absolute;
		top:-90px;
		right:0px;
		width:100%;
		padding-top:80px;
		padding-bottom:20px;
		padding-top:0px;
		background: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0));
	}
	
	.network span {
		color:#f5f5f5;
	}
	
}

@media (max-width: 700px) {
	.show {
		width:49%;
		margin:0px 0.5% 5px 0.5%;
	}
}



